##### **Content under Creative Commons Attribution license [CC-BY 4.0](LICENSE/CC-BY-4.0.md); Code licensed under [BSD 3-Clause Clear](LICENSE/BSD3CLAUSE.md) © 2025 by J. E. Guyer**

**Student submissions licensed under [UMD Academic License](LICENSE/UMDACADEMIC.md) © 2025 by YOUR NAME HERE** Junbo Hu

# ENMA165: Indexing, Slicing, and Iterables (100 points total)

Submit your solutions in the cells of this notebook as a **pull request**.

Answers will be scored on correctness, conciseness, and descriptive variable names. Comments which help clarify the code are encouraged; comments which are redundant to the code are not.

While some questions can be answered by casual observation of the data, your assignment is to *write code* that produces the answers.

Use tab-completion, `help()`, and other forms of Python introspection to identify the functions and methods you need, what arguments they take, and what values they return.

## Q1 (4 points)

Print character 0 from the string `"helium"`

In [5]:
print("helium"[0])

h

## Q2 (4 points)

Print character 3 from the string `"helium"`

In [4]:
print("helium"[3])

i

## Q3 (4 points)

Print the last character from the string `"helium"`

In [6]:
print("helium"[-1])

m

## Q4 (4 points)

Given
```python
s = "helium"
```
which of the following will print "`liu`"?

1. `print(s[2:4])`
1. `print(s[2:5])`
1. `print(s[-5:-2])`
1. `print(s[-2:-5])`
1. `print(s[-4:-1])`

print(s[2:5]) and print(s[-4:1])

For the options that don't print "`liu`", explain why not:

the first one only shows li and the third one shows eli, finally the fourth one is incorrect since -2 is greater than -5.

## Q5 (4 points)

Given
```python
s = "supercalifragilisticexpialidocious"
```
which of the following will print "`i`"?

1. `print(s[8])`
2. `print(s[8.0])`
3. `print(s[-8])`
4. `print(s[13:13])`
5. `print(s[13:14])`
6. `print(s[14:17][-2])`
7. `print([s[16], s[18], s[20]][1])`
5. `print(s[::-1][4])`

1,3,5,6,7

For the options that don't print "`i`", explain why not:

The 2 is incorrect form 4 is incorrect form and 8 prints c

## Q6 (4 points)

Print every other character from the string `"supercalifragilisticexpialidocious"`, starting from the first "s"

In [1]:
print("supercalifragilisticexpialidocious"[::2])

sprairglsiepaioiu

## Q7 (4 points)

Print every other character from the string `"supercalifragilisticexpialidocious"`, starting from the first "u"

In [2]:
print("supercalifragilisticexpialidocious"[1::2])

ueclfaiitcxildcos

## Q8 (4 points)

Without executing the code, what do you think is the result of
```python
s = "supercalifragilisticexpialidocious"
print(s[0:5])
```

super

What is the actual result of executing the code?

s = "supercalifragilisticexpialidocious"
print(s[0:5])

## Q9 (4 points)

Without executing the code, what do you think is the result of
```python
s = "supercalifragilisticexpialidocious"
print(s[5:10])
```

calif

What is the actual result of executing the code?

In [5]:
s = "supercalifragilisticexpialidocious"
print(s[5:10])

calif

## Q10 (4 points)

Without executing the code, what do you think is the result of
```python
s = "supercalifragilisticexpialidocious"
print(s[-10:-5])
```

alido

What is the actual result of executing the code?

In [4]:
s = "supercalifragilisticexpialidocious"
print(s[-10:-5])

alido

## Q11 (4 points)

Without executing the code, what do you think is the result of
```python
s = "supercalifragilisticexpialidocious"
print(s[-5:-10])
```

nothing

What is the actual result of executing the code?

In [7]:
s = "supercalifragilisticexpialidocious"
print(s[-5:-10])

## Q12 (4 points)

Without executing the code, what do you think is the result of
```python
s = "supercalifragilisticexpialidocious"
print(s[-5:-10:-1])
```

codil

What is the actual result of executing the code?

In [8]:
s = "supercalifragilisticexpialidocious"
print(s[-5:-10:-1])

codil

## Q13 (4 points)

Print item three in the list `["apple", "banana", "canteloupe", "durian"]`

In [9]:
print(["apple", "banana", "canteloupe", "durian"][2])

canteloupe

## Q14 (4 points)

Print the last item in the list `["apple", "banana", "canteloupe", "durian"]`

In [10]:
print(["apple", "banana", "canteloupe", "durian"][3])

durian

## Q15 (4 points)

Fill in the blanks to produce the output
```
a
b
c
d
```

In [13]:
for fruit in ["apple", "banana", "canteloupe", "durian"]:
    print(fruit)

apple
banana
canteloupe
durian

## Q16 (4 points)

Print character 3 of item 3 in the list `["apple", "banana", "canteloupe", "durian"]`

In [14]:
print(["apple", "banana", "canteloupe", "durian"][2][3])

t

## Q17 (4 points)

Without executing the code, what do you think is the result of
```python
l = ["apple", "banana", "canteloupe", "durian"]
del l[-2]
print(l[2])
```

durian

What is the actual result of executing the code?

In [15]:
l = ["apple", "banana", "canteloupe", "durian"]
del l[-2]
print(l[2])

durian

## Q18 (4 points)

Given
```python
d = {"apple": 1.414, "banana": 1.618, "canteloupe": 2.718, "durian": 3.142}
```
Which of the following will print "`1.618`"?

1. `print(d["apple"])`
1. `print(d["banana"])`
1. `print(d[1])`
1. `print(d[banana])`

2

For the options that don't print "`1.618`", explain why not:

 1 print wrong number, 3 prints nothing, 4 has wrong format

## Q19 (4 points)

Given
```python
d = {"apple": 2, "banana": "2", "canteloupe": 2.0, "durian": "2.0", 2: 2}
```
which of the following will print "`2`"?

1. `print(d["apple"])`
1. `print(d["banana"])`
1. `print(d["canteloupe"])`
1. `print(d["durian"])`
1. `print(d[0])`
1. `print(d[2])`
1. `print(str(d["canteloupe"])[0])`
1. `print(int(d["durian"]))`

1,2,6,7

For the options that don't print "`2`", explain why not:

3 prints 2.0, 4 prints 2.0, 5 is wrong number, 8 prints 2.0

## Q20 (4 points)

Given
```python
d = {"apple": [1.414, 1.618], "banana": [1.618, 1.414], "canteloupe": [2.718, 3.142], "durian": 1.618}
```
which of the following will print "`1.618`"?

1. `print(d["apple", 1])`
1. `print(d["apple"][1])`
1. `print(d["banana"])`
1. `print(d["banana"][0])`
1. `print(d["banana"][1])`
1. `print(d["canteloupe"][0])`
1. `print(d["durian"])`
1. `print(d["durian"][0])`

2,4,7

For the options that don't print "`1.618`", explain why not:

1 is wrong format, 3 will prints more than 1.618, 5 prints 1.414 6 prints 2.718, 8 prints nothing

## Q21 (4 points)

Using the `enumerate()` command, fill in the blanks in the next cell to produce the ouput:
```
0: apple
1: banana
2: canteloupe
3: durian
```

In [16]:
a = ["apple", "banana", "canteloupe", "durian"]

for index, fruit in enumerate(a):
    print(f"{index}:{fruit}")

0:apple
1:banana
2:canteloupe
3:durian

## Q22 (4 pts)

Fill in the blanks in the next cell to produce the ouput:
```
The value of apple is 1.414
The value of banana is 1.618
The value of canteloupe is 2.718
The value of durian is 3.142
```

**note:** The lines may be in a different order

In [17]:
d = {"apple": 1.414, "banana": 1.618, "canteloupe": 2.718, "durian": 3.142}

for fruit, value in d.items():
    print(f"The value of {fruit} is {value}")

The value of apple is 1.414
The value of banana is 1.618
The value of canteloupe is 2.718
The value of durian is 3.142

## Q23 (4 pts)

Using the `zip()` command, fill in the blanks in the next cell to produce the ouput:
```
fruit: apple, number: 1.414, valid: True
fruit: banana, number: 1.618, valid: False
fruit: canteloupe, number: 2.718, valid: False
fruit: durian, number: 3.142, valid: True
```

In [19]:
a = ["apple", "banana", "canteloupe", "durian"]
b = [1.414, 1.618, 2.718, 3.142]
c = [True, False, False, True]

for fruit, number, valid in zip(a, b, c):
    print(f"fruit: {fruit}, number: {number}, valid: {valid}")

fruit: apple, number: 1.414, valid: True
fruit: banana, number: 1.618, valid: False
fruit: canteloupe, number: 2.718, valid: False
fruit: durian, number: 3.142, valid: True

## Q24 (4 pts)

Fill in the blanks in the next cell to produce the ouput:
```
0: The value of apple is 1.414
1: The value of banana is 1.618
2: The value of canteloupe is 2.718
3: The value of durian is 3.142
```

In [20]:
d = {"fruit": ["apple", "banana", "canteloupe", "durian"],
     "transcendental number": [1.414, 1.618, 2.718, 3.142],
     "valid": [True, False, False, True]}

for i, fruit in enumerate(d["fruit"]):
    print(f"{i}: The value of {fruit} is {d['transcendental number'][i]}")

0: The value of apple is 1.414
1: The value of banana is 1.618
2: The value of canteloupe is 2.718
3: The value of durian is 3.142

## Q25 (4 pts)

Fill in the blanks in the next cell to produce the ouput:
```
0: The value of apple is 1.414
3: The value of durian is 3.142
```

In [21]:
d = {"fruit": ["apple", "banana", "canteloupe", "durian"],
     "transcendental number": [1.414, 1.618, 2.718, 3.142],
     "valid": [True, False, False, True]}

for i, is_valid in enumerate(d["valid"]):
    if is_valid:
        print(f"{i}: The value of {d['fruit'][i]} is {d['transcendental number'][i]}")

0: The value of apple is 1.414
3: The value of durian is 3.142